
     @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
 *{
     font-family: "Lato", serif;
 }

.w3-wide {
     letter-spacing: 10px;
}
.w3-hover-opacity {
    cursor: pointer;
}

html, body, p{
    height: 100%;
    color: #777;
    line-height: 1.8;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url('pics/cloud.PNG');
    min-height: 100%;
}
.bgimg-2 {
    background-image: url('pics/cloud.PNG') ;
    min-height: 400px;
}
.bgimg-3 {
    background-image: url('pics/cloud.PNG') ;
    min-height: 400px;
}